<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Almojabana</title>
    <link rel= "stylesheet" type= "text/css" href="static\prod.css"/>

    
</head>
<body>

    <div style="width: 500px; padding:3px; background-color: rgb(216, 187, 149);border-top: 0.2cm;border-style: ridge;">
        <h1 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Productos horneados</h1>
    </div >
    
    <div style="width: 500px; padding:3px;background-color: rgb(233, 127, 57); border-color: black; border-style: outset;">
    
        <div style="width:245px;  float:left;">
            <img src="\static\images\productos\Almojabana.png"  height="250" class="center">
            
        </div>
    
        <div style="width:245px;  float:right; background-color: rgb(233, 127, 57);" >   
            <h3 style="margin-left: 0.3cm;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Almojabana</h3>
            <h6>_________________________________________</h6>
            <h6 style="margin-left: 0.3cm;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Doradita, suavecita y esponjosa. Con los mejores quesos logramos el mejor sabor y aroma de nuestra tierra.</h6>
            <h3 style="margin-left: 0.3cm;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">$4000</h3>   
            <button class="stylebutton" style="color: antiquewhite; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;margin-left: 1.5cm; background-color: rgb(92, 57, 43);" style="border: crimson ;" style="border-radius: 50%;" type="submit">Agregar producto</button><br>
            <h6>__________________________________________</h6>
        </div>
    
            
                
    </div><br><br>
    
</body>
</html>