<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Cinnabon</title>
    <link rel= "stylesheet" type= "text/css" href="\static\css\estilosproductos.css"/>
</head>
<body>

    
    <div style="width: 735px; padding:3px; background-color: rgb(216, 187, 149);">
    <h1>Productos horneados</h1>
    </div>

        <div style="width: 735px; padding:3px;">

        <div style="width:245px; background:#FFCC00; float:left;">
            <img src="\static\images\productos\Almojabana.png"  height="150" class="center">
            <h3>Almojabana</h3>
            <h3>$2000</h3>
            <button class="stylebutton" style= "background-color: rgb(228, 112, 66);" style="border: crimson ;" style="border-radius: 1cm;" type="submit" ><a href="{{url_for('detalle_plato')}}"> Detalle producto </a></button><br>  
        </div>

        <div style="width:245px; background:#ca8e35; float:right;">
            <img src="\static\images\productos\Pandeyuca.png"  height="150" class="center">
            <h3>Pandeyuca</h3>
            <h3>$4000</h3>   
            <button class="stylebutton" style= "background-color: rgb(228, 112, 66);" style="border: crimson ;" style="border-radius: 50%;" type="submit">Agregar producto</button><br>
        </div>

        <div style="width:245px; background:#dfab4b; float:left;">
            <img src="\static\images\productos\Croissant.png"  height="150" class="center">
            <h3>Croissant</h3>
            <h3>$2000</h3>
            <button class="stylebutton" style= "background-color: rgb(228, 112, 66);" style="border: crimson ;" style="border-radius: 50%;" type="submit">Agregar producto</button><br>
            
        </div><br><br>
        
        </div>
        <div style="width: 735px; padding:3px;">

            <div style="width:245px; background:#c28e1e; float:left;">
                <img src="\static\images\productos\Pan_frances.png"  height="150" class="center">
                <h3>Pan francés</h3>
                <h3>$1000</h3>
                <button class="stylebutton" style= "background-color: rgb(182, 72, 28);" style="border: crimson ;" style="border-radius: 50%;" type="submit" onclick="">Agregar producto</button><br>  
            </div>
    
            <div style="width:245px; background:#944520; float:right;">
                <img src="\static\images\productos\Pan_integral.png"  height="150" class="center">
                <h3>Pan integral</h3>
                <h3>$1000</h3>   
                <button class="stylebutton" style= "background-color: rgb(228, 112, 66);" style="border: crimson ;" style="border-radius: 50%;" type="submit">Agregar producto</button><br>
            </div>
    
            <div style="width:245px; background:#f36932; float:left;">
                <img src="\static\images\productos\Buuelo.png"  height="150" class="center">
                <h3>Buñuelo</h3>
                <h3>$1500</h3>
                <button class="stylebutton"   style= "background-color: rgb(228, 112, 66);" style="border: crimson ;" style="border-radius: 50%;" type="submit">Agregar producto</button><br>
                
            </div>
            
            </div>
    
</body>
</html>