{%extends 'base.html'%}



{% block title%} PERFIL DE USUARIO	{%endblock%}


{%block body%}

<div class="box-form">
	<div class="izquierda">
		<div class="superposición">
		<h1>Hola, Administrador . </h1>
		<p> ¿Que quieres hacer?</p>
		<envergadura>
			
		</div>
	</div>
	

		<div class="derecha">
		<h5> ¿Eres super administrador?</h5>
        <div class="derecha"></div>
		<p>Ingresa tus credenciales   <a href="#">Aqui</a > para acceder</p>
            <div>
        <a href="#">Editar menú</a >
            <div>

        <a href="#">Ver ordenes</a >
            <div>

        <a href="#">Ver valoraciones</a >
            <div>

        <a href="#">Estado financiero</a >
            <div>

       


		<clase div ="entradas">
			


		</div>
			
			<br>
			<button>Cerrar sesion </button>
	</div>
	
</div>



{% endblock%}